/**
 * Variables
*/

/* Typography */

/* Generals */
$tiny: 22.44rem;
$small: 47.94rem;
$medium: 61.94rem;
$large: 72.44rem;

/* Grid setup */

/* Colour palette */
$black: #000;
$white: #fff;
$gray: #222127;
$light-gray: #afabc5;
$blue: #293659;
$yellow: #89731e;
$transparent: rgba(255, 255, 255, 0);

/* Components */

