header {
  width: 100%;
  height: 7rem;
  position: relative;

  img {
      width: auto;
      height: 5rem;
      position: relative;
      margin-top: 1rem;
      margin-right: 1rem;
      float: right;
  }
}

@include respond-to('small') {
    header {
        height: 10rem;

        img {
            height: 7.5rem;
        }
    }
}

@include respond-to ('medium') {
    header {
      img {
          height: 12.5rem;
          top: 2.5rem;
          right: 2.5rem;
      }
    }
}

